.img-post-content {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
