.profile-container {
  margin-top: 3%;
  display: flex;
  .profile-left-container {
    margin-left: 10%;
    width: 70%;
    .profile-img-left {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
    }
    .profile-name-left {
      font-family: Avenir;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 33px;
      color: #000000;
    }
    .profile-greeting-left {
      font-family: Avenir;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 66px;
      display: flex;
      align-items: center;
      color: #000000;
    }
    .btn-profile-left {
      width: 125px;
      height: 32px;
      background: #2fc4b2;
      border-radius: 5px;
      border: 2px solid #2fc4b2;

      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 19px;

      color: #ffffff;
      cursor: pointer;

      &:hover {
        background: #fff;
        border: 2px solid #2fc4b2;
        color: #2fc4b2;
      }
    }
  }
  .profile-right-container {
    margin-right: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profile-mywork-container {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .img-mywork {
    width: 356px;
    height: 328px;
    object-fit: cover;
    margin-bottom: 20px;
  }
}
