.profile-container {
  margin-top: 3%;
  display: flex;
  .profile-left-container {
    margin-left: 10%;
    width: 70%;

    .no-greeting-yet {
      font-family: Avenir;
      font-style: normal;
      font-weight: thin;
      font-size: 18px;
      opacity: 0.6;
      color: #828282;
    }
    .profile-img-left {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
    }
    .profile-name-left {
      font-family: Avenir;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 33px;
      color: #000000;
    }
    .profile-greeting-left {
      font-family: Avenir;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 66px;
      display: flex;
      align-items: center;
      color: #000000;
    }
    .btn-profile-left {
      width: 110px;
      height: 30px;
      font-size: 14px;
      font-family: Avenir;
      margin-right: 33px;
    }
  }
  .profile-right-container {
    cursor: pointer;
    margin-right: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vector-right-profile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .latest-post-container {
    margin-top: 8%;
    margin-right: 20%;
    border-radius: 5px;
    width: 646px;
    height: 484px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: white;
    border: 2px solid#15a3b9;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
  }
}

.profile-mywork-head {
  margin-top: 3%;
  margin-left: 10%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.profile-mywork-container {
  margin-top: 50px;
  margin-left: 9%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .no-greeting-yet {
    margin-left: 15px;
    font-family: Avenir;
    font-style: normal;
    font-weight: thin;
    font-size: 18px;
    opacity: 0.6;
    color: #828282;
  }
  .img-mywork {
    margin: 1%;
    border-radius: 5px;
    width: 356px;
    height: 328px;
    object-fit: cover;
    margin-bottom: 20px;
  }
}
