.header-container {
  display: flex;
  .logo-header-login {
    width: 100%;
    margin-top: 18px;
    padding-left: 10%;
    .logo-header-cursor {
      cursor: pointer;
    }
  }

  .profile-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    margin-top: 18px;
    text-align: end;

    .profile-header-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      .btn-upload-header {
        width: 100px;
        height: 30px;
        font-size: 14px;
        font-family: Avenir;
        margin-right: 33px;
      }
    }
    .cart-header {
      cursor: pointer;
      position: absolute;
      margin-right: 100px;
    }
    .notif {
      position: absolute;
      color: #fff;
      background-color: red;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      top: 16%;
      padding-right: 6px;
      margin-right: 90px;
    }
    .avatar-header-login {
      cursor: pointer;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      box-sizing: border-box;
    }
  }
}
